/* unset inertia link */
a:link,
a:visited,
a:hover,
a:active {
    color: unset;
    text-decoration: unset;
}

.btn-clean {
    text-decoration: none;
    background: none;
    border: none;
    padding: none;
    cursor: pointer;
}
